body{




}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;

}


#map {
  display:block;
  height:500px;
  width:100%;

}

.header{
  height: 100px;
  background-color: black;
}

footer{
background-color: green;
  height:100px;
  width:100%;
  bottom: 0px;
}

#navlist{

}
li{

}
.list{
  background-color: gray;
  padding:10px;
  padding-top: 0px;
}
.coffee-item{
  padding:5px;
}

#search-filter{
  height: 100px;
  background-color: yellow;
  justify-content: center;
}
#navlist{
  display: flex;
  flex-direction: column;
}
.search-input{
  margin-top: 40px;
}
